* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-size: 2em;
  text-align: center;
}

.container {
  display: flex;
  border: 1px solid black;
  margin: auto;
  width: 640px;
  height: 640px;
}

.gridSquare {
  display: flex;
  border: 0.5px solid black;
  width: 20px;
  height: 20px;
}
