* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-size: 2em;
  text-align: center;
}

.button {
  border: none;
  background: #333;
  color: #fff;
  padding: 8px 10px;
  margin: 10px;
  border-radius: 5px;
}

.container {
  display: flex;
  margin: auto;
  width: 640px;
  height: 640px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.gridSquare {
  display: flex;
  width: 20px;
  height: 20px;
  border: 0.5px solid black;
}
